<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../../assets/css/index.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navix</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../vendored/htmx_v2.0.3.min.js"></script>
</head>

<body >

<h1>
    Navix
</h1>

<div class="grd">
    <div>
        <p class="opening">Planea tus rutas con inteligencia artificial</p>
        <p class = parrafo1>
            Con Navix automatiza el proceso de gestión de envios de tu compañia. Nosotros nos encargamos de la logistica
            y el trazado de rutas mediante nuestra inteligencia artificial para hallar tus recorridos en cuestión de
            segundos.
        </p>
    </div>

    <img class="img" src="/assets/images/Locationsearchbro-storyset.svg">
</div>
<div>
    <a href="https://storyset.com/location">Location illustrations by Storyset</a>
</div>

</body>
</html>